global-exclude .DS_Store

global-include *.rst
global-include *.py

prune .eggs
prune .github
prune .venv
prune docs
prune sample
prune temp
prune test

include doc/*.png
include README.md
include LICENSE

exclude pcapkit/protocols/*/NotImplemented
