[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[[source]]
name = "sjtu"
url = "https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]

[dev-packages]
dictdumper = {editable = true, path = "."}
autopep8 = "*"
bandit = "*"
mypy = "*"
pylint = "*"
ipython = "*"
coverage = "*"
codecov = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
furo = "*"
sphinxext-opengraph = "*"
sphinx-copybutton = "*"
rstcheck = {extras = ["sphinx","toml"],version = "*"}
esbonio = "*"
vermin = "*"
types-docutils = "*"
types-setuptools = "*"
build = "*"
twine = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
