[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
dictdumper = {editable = true, path = "."}
ipython = "*"
"autopep8" = "*"
pylint = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
