[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
dictdumper = {editable = true, path = "."}
autopep8 = "*"
ipython = "*"
pylint = "*"
coverage = "*"
codecov = "*"
tox = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
doc8 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
