<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>test_1</key>
	<dict>
		<key>foo</key>
		<integer>-1</integer>
		<key>bar</key>
		<string>Hello, world!</string>
		<key>boo</key>
		<dict>
			<key>foo_again</key>
			<true/>
			<key>bar_again</key>
			<dict>
				<key>type</key>
				<string>memoryview</string>
				<key>value</key>
				<data>Ynl0ZXM=</data>
			</dict>
		</dict>
	</dict>
	<key>test_2</key>
	<dict>
		<key>foo</key>
		<array>
			<integer>1</integer>
			<real>2.0</real>
			<integer>3</integer>
		</array>
		<key>bar</key>
		<dict>
			<key>type</key>
			<string>tuple</string>
			<key>value</key>
			<array>
				<real>1.0</real>
				<dict>
					<key>type</key>
					<string>bytearray</string>
					<key>value</key>
					<data>YSBsb25nIGxvbmcgYnl0ZXM=</data>
				</dict>
				<real>3.0</real>
			</array>
		</dict>
		<key>boo</key>
		<dict>
			<key>foo_again</key>
			<data>Ynl0ZXN0cmluZw==</data>
			<key>bar_again</key>
			<date>2020-01-31T20:15:10.163010Z</date>
			<key>boo_again</key>
			<real>-inf</real>
		</dict>
	</dict>
	<key>test_3</key>
	<dict>
		<key>foo</key>
		<string>stringstringstringstringstringstringstringstringstringstring</string>
		<key>bar</key>
		<array>
			<string>s1</string>
			<false/>
			<string>s3</string>
		</array>
		<key>boo</key>
		<array>
			<string>s4</string>
			<dict>
				<key>s</key>
				<string>5</string>
				<key>j</key>
				<string>5</string>
			</dict>
			<string>s6</string>
		</array>
		<key>far</key>
		<dict>
			<key>far_foo</key>
			<array>
				<string>s1</string>
				<string>s2</string>
				<string>s3</string>
			</array>
			<key>far_var</key>
			<string>s4</string>
		</dict>
		<key>biu</key>
		<real>nan</real>
	</dict>
</dict>
</plist>
